@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@font-face {
  font-family: Reckless;
  src: url(./fonts/RecklessNeue-Regular.otf);
}

body {
    user-select: none;
    cursor: crosshair;
    font-family: 'DM Serif Display', 'Reckless', sans-serif;
    -webkit-text-stroke: .3px bluered;
    font-weight: 300;
    letter-spacing: .0em;
    font-size: 35px;
    width: auto;
    height: 100vh;
    max-height: 1080px;
    background: radial-gradient(white, rgb(165, 165, 165));
    background-size: cover;
    overflow: hidden;
}

p {
  transform: scaleY(5);
  margin: 0;
  text-transform: uppercase;
}

.container {
  outline: 2px solid transparent;
  border-radius: 10%;
  transform-style: preserve-3d;
  transform: 
    perspective(1.5cm)
    translateZ(20cm);
  width: 200px;
  height: 200px;
  
  position: absolute;
  top: 40%;
  left: 45%;
  padding: 0 5px 35px 5px;
  margin: auto;
  
  animation: anim-rotate 15s infinite ease-in-out alternate-reverse;
}

.side {
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
  outline: 1.5px solid blue;
  position: absolute;
  margin: auto;
  color: white;
  text-align: center;
  line-height: 200px;
  opacity: 80%;
}


.a {
  background: 
    url('./img/DSC_2460.JPG') 
    no-repeat center;
  background-size: cover;
  transform: 
    translateX(50px)
    translateY(12px)
    rotateY(-90deg)
    rotateX(-30deg);
}

.b {
  background: 
    url('./img/DSC_2435.JPG') 
    no-repeat center;
  background-size: cover;
  transform: 
    translateX(-50px)
    translateY(12px)
    rotateY(-90deg)
    rotateX(-330deg);
}

.b p {
  transform: scale(1.6, 5);
  letter-spacing: .1em;
}

.c {
  line-height: 200px;
  background: 
    url('./img/DSC_2479.JPG') 
    center;
  background-size: cover;
  transform: 
    translateY(100px)
    rotateX(90deg)
    rotateY(180deg)
}


@keyframes anim-rotate {
  0% {
     transform: 
      rotateX(-10deg)
      rotateY(35deg)
      rotateZ(50deg);
  }
  
  50% {
    transform: 
      rotateY(1turn)
      rotateX(1turn - 10deg)
      rotateY(calc(30deg + 1turn));
  }
  100% {}
}


@keyframes anim-rotate3d {
  from { transform: rotate3d(0) }
  to { transform: rotate3d(1, -1, 0, 1turn) }
}